/* Dark Mode */
/* Defaults */
:root {
    /* Colors: should be the same as in style.js */
    --black: #000000;
    --blackLight: #232323;
    --blue: #0000ff;
    --blueDark: #1e50a2;
    --blueLight: #187bcd;
    --blueLightVery: #c0e0ff;
    --bluesky: #3085d6;
    --brownLight: #eecab1;
    --green: #208020;
    --greenLight: #4c9900;
    --greenLightVery: #b3ffb3;
    --grey: #999999;
    --greyDark: #777777;
    --greyDarkVery: #444444;
    --greyLight: #cccccc;
    --greyLightMedium: #dddddd;
    --greyLightVery: #f0f0f0;
    --orange: #ffa500;
    --orangeLight: #ffcc80;
    --pinkLight: #ffb3ff;
    --purpleLight: #cc99ff;
    --red: #ff0000;
    --redLight: #ffa3a3;
    --transparentBlack: rgba(0, 0, 0, 0);
    --transparentWhite: rgba(255, 255, 255, 0);
    --transparent30: rgba(0, 0, 0, 0.7);
    --transparent40: rgba(0, 0, 0, 0.6);
    --transparent50: rgba(0, 0, 0, 0.5);
    --transparent70: rgba(0, 0, 0, 0.3);
    --white: #ffffff;
    --yellow: #ffffa3;
}

* {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: var(--transparentBlack);
    touch-action: manipulation;
    /*user-select: none;*/
    margin: 0;
    padding: 0;
}

input {
    -webkit-user-select: auto;
}

body {
    background: url(images/corky_dark.jpg) top center;
}

p {
    color: var(--white);
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
}

h3 {
    text-align: center;
}

hr.newgridhrline {
    margin-top: 5px;
    margin-bottom: 5px;
}

#top_button,
#bottom_button {
    position: relative;
    max-width: 630px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tb_undo,
#tb_redo {
    color: var(--greyLight);
}

.button {
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    border-radius: 4px;
}

.sw {
    margin: 5px;
    background-color: var(--blueLight);
    color: var(--black);
}

.values {
    color: var(--white);
}

#buttons {
    background: url(images/parch_dark.jpg) top center;
    font-size: 0;
    border: 1px solid var(--white);
    width: 550px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#duplicate,
#input_sudoku,
#input_url {
    margin-top: 5px;
}

.mode_button {
    position: relative;
    text-align: left;
    padding-bottom: 5px;
    font-size: 12px;
}

#nb_sudoku7_lb {
    font-weight: bold;
}

#sub_txt,
#style_txt {
    font-size: 12px;
}

.submode_button {
    position: relative;
    text-align: left;
    padding-top: 5px;
    font-size: 12px;
    height: 35px;
}

.submode_button label {
    font-size: 12px;
}

.stylemode_button {
    position: relative;
    text-align: left;
    padding-bottom: -5px;
    font-size: 12px;
    height: 35px;
}

.stylemode_button label {
    font-size: 14px;
}

.label_mode {
    display: inline;
    text-align: left;
    margin: 0px;
    width: 110px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}

.label_mode_2 {
    display: inline;
    padding-right: 46px;
}

.label {
    display: inline-block;
    margin: 0px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    border: 1px solid var(--blueDark);
    border-radius: 3px;
}

.label_option {
    display: inline-block;
    margin: 0px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    border: 2px solid var(--red);
    border-radius: 3px;
}

.label:hover {
    background: var(--greyLightVery);
    color: var(--black);
}


.label_option:hover {
    background: var(--greyLightVery);
    color: var(--black);
}


.labelL {
    display: inline-block;
    margin: 0px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    border: 1px solid var(--blueDark);
    border-radius: 3px;
}

.labelL:hover {
    background: var(--greyLightVery);
    color: var(--black);
}

#rt_center,
#rt_size,
#rt_reset,
#rt_addtop,
#rt_addbottom,
#rt_addleft,
#rt_addright,
#rt_addtop_r,
#rt_addbottom_r,
#rt_addleft_r,
#rt_addright_r,
#rt_subtop,
#rt_subbottom,
#rt_subleft,
#rt_subright,
#rt_subtop_r,
#rt_subbottom_r,
#rt_subleft_r,
#rt_subright_r {
    margin-top: 1px;
    margin-bottom: 1px;
}

#rt5_lb_r,
#rt5_lb {
    color: var(--red);
}

#st_number1_lb,
#st_sudoku1_lb {
    /* Black */
    background-color: var(--black);
    color: var(--white);
}

#st_number2_lb,
#st_sudoku2_lb {
    /* Green */
    background-color: var(--greenLight);
    color: var(--white);
}

#st_number8_lb,
#st_sudoku8_lb {
    /* Light Blue */
    background-color: var(--blueLight);
    color: var(--white);
}

#st_number3_lb,
#st_sudoku3_lb {
    /* Grey */
    background-color: var(--grey);
    color: var(--white);
}

#st_number4_lb,
#st_number5_lb {
    /* White */
    background-color: var(--white);
    color: var(--black);
}

#st_number9_lb,
#st_sudoku9_lb {
    /* Blue */
    background-color: var(--blue);
    color: var(--white);
}

#st_number10_lb,
#st_sudoku10_lb {
    /* Red */
    background-color: var(--red);
    color: var(--white);
}

#sub_number3_lb {
    background: url(images/corners.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#sub_number9_lb {
    background: url(images/sides.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#st_number6_lb {
    /* White Circle */
    background: url(images/white_circle.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#st_number0_lb {
    /* Outlined */
    background: url(images/outlined.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#st_number7_lb {
    /* Black Circle */
    background: url(images/black_circle.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#st_number11_lb {
    /* Red Circle */
    background: url(images/red_circle.png);
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    vertical-align: top;
    width: 20px;
}

#st_surface1_lb {
    /* Dark Grey */
    background-color: var(--greyDarkVery);
    color: var(--white);
    font-size: 12px;
}

#st_surface3_lb {
    /* Light Grey */
    background-color: var(--greyLight);
    color: var(--black);
    font-size: 12px;
}

#st_surface4_lb {
    /* Black */
    background-color: var(--black);
    color: var(--white);
    font-size: 12px;
}

#st_surface2_lb {
    /* Green */
    background-color: var(--greenLightVery);
    color: var(--black);
    font-size: 12px;
}

#st_surface5_lb {
    /* Light Blue */
    background-color: var(--blueLightVery);
    color: var(--black);
    font-size: 12px;
}

#st_surface6_lb {
    /* Red */
    background-color: var(--redLight);
    color: var(--black);
    font-size: 12px;
}

#st_surface7_lb {
    /* Yellow */
    background-color: var(--yellow);
    color: var(--black);
    font-size: 12px;
}

#st_surface8_lb {
    /* Grey */
    background-color: var(--grey);
    color: var(--black);
    font-size: 12px;
}

#st_surface9_lb {
    /* pink */
    background-color: var(--pinkLight);
    color: var(--black);
    font-size: 12px;
}

#st_surface10_lb {
    /* orange */
    background-color: var(--orangeLight);
    color: var(--black);
    font-size: 12px;
}

#st_surface11_lb {
    /* Purple */
    background-color: var(--purpleLight);
    color: var(--black);
    font-size: 12px;
}

#st_surface12_lb {
    /* Brown */
    background-color: var(--brownLight);
    color: var(--black);
    font-size: 12px;
}

#st_line3_lb,
#st_lineE3_lb,
#st_wall3_lb {
    /* Green */
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
}

#st_line2_lb,
#st_lineE2_lb,
#st_wall2_lb {
    /* Black */
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
}

#st_line5_lb,
#st_lineE5_lb,
#st_wall5_lb {
    /* Grey */
    background-color: var(--greyDark);
    color: var(--white);
    font-size: 16px;
}

#st_line8_lb,
#st_lineE8_lb,
#st_wall8_lb {
    /* Red */
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
}

#st_line9_lb,
#st_lineE9_lb,
#st_wall9_lb {
    /* Blue */
    background-color: var(--blueLight);
    color: var(--white);
    font-size: 16px;
}

#ms1_degital {
    font-size: 18px;
}

#ms_dice {
    font-size: 25px;
}

#ms_star {
    font-size: 22px;
}

#ms_tents {
    font-size: 15px;
}

input[type=radio] {
    display: none;
    /* Hide radio buttons */
}

input[type="radio"]:checked+label {
    background: var(--greyLight);
    color: var(--black);
    box-shadow: 0 0 0 1px var(--orange);
}

body input,
body textarea {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    user-select: text;
}

#panel_button0,
#visibility_button0,
#edge_button0,
#reload_button0,
#panel_buttons0,
#panel_buttonc0 {
    width: auto;
    border: none;
    background: none;
    padding-left: 5px;
}

#panel_button,
#visibility_button,
#reload_button,
#edge_button {
    width: 25px;
    border: 1px solid var(--greyLight);
    background: none;
    margin-left: 0px;
    border-radius: 1px;
}

#panel_button:hover,
#visibility_button:hover,
#reload_button:hover,
#edge_button:hover {
    background: var(--greyLight);
}

.nav {
    position: relative;
    display: flex;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: auto;
    height: 25px;
    margin: 0 auto;
    padding: 0;
}

.nav li {
    position: relative;
    list-style: none;
}

.nav li span {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--white);
    font-size: 14px;
    background: var(--black);
    text-align: center;
    line-height: 28px;
    border: 1px solid var(--blueDark);
    border-radius: 3px;
}

.nav>li:hover>span {
    /*layer-1*/
    color: var(--black);
    background: var(--greyLight);
}

.nav>li li:hover>span {
    /*layer-2*/
    color: var(--black);
    background: var(--greyLight);
}

.nav li ul {
    position: absolute;
    top: 27px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.nav li ul li {
    overflow: hidden;
    height: 0px;
    left: 0px;
    width: 80px;
}

.nav li ul li span {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    width: 80px;
    height: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    color: var(--white);
    font-size: 12px;
    background: var(--black);
    text-align: center;
    line-height: 28px;
    border: 1px solid var(--blueDark);
    border-radius: 0px;
}

.nav li:hover>ul>li {
    overflow: visible;
    height: 27px;
    left: 10px;
    top: 0px;
}

.nav li ul li ul {
    top: 0px;
    left: 71px;
}

.nav li ul li ul:before {
    /*layer-2*/
    position: absolute;
    content: "";
    top: 9px;
    left: 0px;
    border: 5px solid transparent;
    border-left: 5px solid var(--white);
}

.nav li.symbolmode_display span {
    width: auto;
    border: none;
    background: none;
}

.nav li.symbolmode_display span.symmode_content {
    margin-left: -10px;
}

.nav>li.symbolmode_display:hover>span {
    /*layer-1*/
    color: var(--white);
    background: none;
}

#symmode_content {
    font-size: 12px;
}

#combimode_content {
    font-size: 12px;
}

#puzzleinfo,
#contestinfo {
    background: url(images/parch_dark.jpg) top center;
    width: 530px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: var(--blue);
}

#dvique {
    background: url(images/parch_dark.jpg) top center;
    border: 1px solid var(--blackLight);
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

#canvas {
    background: var(--black);
}

#float-key {
    position: absolute;
    display: none;
    z-index: 1;
    left: 300px;
    top: 250px;
    width: 0px;
    height: 0px;
    background-color: var(--black);
    border-radius: 20px;
}

#float-key-header {
    width: 200px;
    height: 20px;
    text-align: center;
    background: var(--grey);
    padding-top: 0px;
    border-radius: 5px 5px 0px 0px;
    cursor: move;
}

#float-key-body {
    position: relative;
    width: 200px;
    height: 140px;
    margin-top: 0px;
    text-align: center;
    background: var(--greyLightMedium);
    padding-top: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 4px 4px var(--transparent40);
}

#float-key-menu {
    /*display: none;*/
    width: 100%;
    height: 20px;
    text-align: center;
    background: var(--greyLight);
    padding-top: 20px;
    border-radius: 5px 5px 0px 0px;
}

.panel_menu {
    display: flex;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.panel_menu li {
    border-right: 1px solid var(--white);
    list-style: none;
    vertical-align: middle;
    background-color: var(--greyLight);
    width: 100%;
    height: 100%;
}

.panel_menu li:last-child {
    border-right: 0;
}

#float-key-select {
    position: absolute;
    display: none;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 20px;
    text-align: center;
    padding-top: 20px;
}

.panel_menu_select {
    display: block;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.panel_menu_select li {
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--black);
    list-style: none;
    vertical-align: middle;
    background-color: var(--greyLight);
    width: 100%;
    height: 0px;
}


.label_menu {
    background-color: var(--greyLight);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#float-canvas {
    margin-top: 5px;
    background: none;
}

.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 100;
}

.drag {
    z-index: 101;
}

#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-content {
    background-color: var(--black);
    width: 300px;
    height: 420px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 20px;
}

#modal-newsize {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-newsize-content {
    background-color: var(--black);
    width: 300px;
    height: 270px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
}

#modal-image {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-image-body {
    padding-left: 10px;
    padding-top: 10px;
}

#modal-image-content {
    background-color: var(--black);
    width: 300px;
    height: 230px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}

#modal-save {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-rotate {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-rotate-content {
    background-color: var(--black);
    width: 300px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}

#modal-save-body,
#modal-save-info,
#modal-settings-body {
    padding-left: 10px;
    padding-top: 10px;
}

#saveinfoauthor,
#saveinfotitle,
#saveinfosource,
#saveinforules {
    margin: 2px auto;
    width: 90%;
}

#sourcewarning {
    color: var(--red);
}

#save_undo_lb,
#save_undo {
    margin-left: 10px;
    margin-top: 5px;
}

#answerwarning {
    color: var(--red);
    text-align: center;
}

#modal-save-content {
    background-color: var(--black);
    width: 300px;
    height: 545px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}

#modal-input,
#modal-load,
#modal-settings {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent70);
}

#modal-input-content,
#modal-load-content,
#modal-settings-content {
    background-color: var(--black);
    width: 300px;
    height: 280px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}

#modal-input-parameters-text,
#modal-input-parameters {
    margin-left: 5px;
    margin-top: 5px;
}

#ignore_pencilmarks_lb,
#ignore_pencilmarks {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    min-width: 200px;
    min-height: 80px;
    max-width: 280px;
    max-height: 130px;
}

#save5texttitle {
    margin-left: 10px;
}

#inputtext {
    min-width: 150px;
    min-height: 80px;
    max-width: 150px;
    max-height: 80px;
}

#closeBtn_input1,
#closeBtn_input2 {
    width: 40px;
}

#modal-save2 {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--transparent50);
}

#modal-save2-content {
    background-color: var(--black);
    width: 360px;
    height: 550px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}

#modal-save2-solution {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

#modal-header {
    width: 300px;
    height: 30px;
    text-align: center;
    background: var(--greyLight);
    padding-top: 0px;
    border-radius: 20px 20px 0px 0px;
}

#save2texttitle {
    width: 360px;
    height: 30px;
    text-align: center;
    background: var(--greyLight);
    padding-top: 0px;
    border-radius: 20px 20px 0px 0px;
}

#save3texttitle,
#nb_note {
    color: var(--white);
}

h4 {
    display: inline;
}

#savetextarea_pp {
    min-width: 200px;
    min-height: 40px;
    max-width: 280px;
    max-height: 60px;
    margin-left: 10px;
}

.solutiontext {
    font-size: 12px;
    color: var(--white);
}

.solcheck,
.solcheck_or {
    vertical-align: middle;
}

input[type=number] {
    width: 40px;
}

.nb_button {
    text-align: center;
    margin-top: 1px;
}

#nb_size3 {
    margin-bottom: 5px;
}

#modal-size {
    text-align: center;
    margin-left: 40px;
}

#modal-sizeA {
    text-align: center;
    margin-left: 40px;
}

#modal-spaceud {
    text-align: center;
}

#modal-spacelr {
    text-align: center;
}

/* Tool tips */
.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--greyDarkVery);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

#visibility_text.tooltiptext {
    width: 150px;
    margin-left: -40px;
}

#border_text.tooltiptext {
    width: 160px;
    margin-left: -70px;
}

#panel_text.tooltiptext {
    width: 120px;
    margin-left: -15px;
}

#reload_text.tooltiptext {
    width: 160px;
    margin-left: -110px;
}

#sub_text.tooltiptext {
    width: 230px;
    margin-left: -15px;
}

#style_text.tooltiptext {
    width: 90px;
    margin-left: -15px;
}

#undo_text.tooltiptext {
    width: 70px;
    margin-left: -35px;
}

#redo_text.tooltiptext {
    width: 70px;
    margin-left: -35px;
}

#eraseselect_text.tooltiptext {
    width: 200px;
    margin-left: -100px;
}

#erase_text.tooltiptext {
    width: 90px;
    margin-left: -45px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--greyDarkVery) transparent transparent transparent;
}

#border_text.tooltiptext::after {
    left: 75%;
}

#reload_text.tooltiptext::after {
    left: 90%;
}

#sub_text.tooltiptext::after {
    left: 5%;
}

#style_text.tooltiptext::after {
    left: 15%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Information area*/
#channel,
#tutorials {
    color: var(--blue);
    background-color: var(--blueLightVery);
}

/* Swal fire - Warnings and Wish */
.wish {
    color: var(--white);
}

.warn {
    color: var(--red);
}

.info {
    color: var(--blue);
}

/*Modal display labels*/
#rt1_lb,
#rt2_lb,
#rt3_lb,
#rt4_lb,
#nb_margin_lb,
#nb_quality_lb,
#nb_type_lb,
#saveimagename_lb,
#save_undo_lb,
#firstcell_row_lb,
#firstcell_column_lb,
#sudokusize_lb,
#ignore_pencilmarks_lb,
#theme_mode_lb,
#custom_color_lb,
#save_settings_lb {
    color: var(--white);
}

.DM {
    color: var(--white);
}

.label_nb {
    color: var(--white);
}

/* Hyper Links */
a:link {
    color: var(--orange);
}

a:visited {
    color: var(--green);
}

a:active {
    color: var(--red);
}

/*Shape/Composite Selection*/

#symmode_content,
#combimode_content {
    color: var(--white);
}

/* Solution Code Message */
#answer_key {
    color: var(--white);
}

#title {
    font-size: 25px;
    color: var(--white);
}

#puzzletitle,
#puzzleauthor,
#puzzlesource,
#solution_check {
    color: var(--white);
}

table,
td,
tr {
    border-collapse: collapse;
    border: 1px solid var(--white);
    padding: 1px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

#sol_or_lb,
#sol_and_lb {
    font-weight: bold;
}