/* Light Mode */
/* Defaults */
:root {
    /* Colors: should be the same as in style.js */
    --black: #000000;
    --blackLight: #232323;
    --blue: #0000ff;
    --blueDark: #1e50a2;
    --blueLight: #187bcd;
    --blueLightVery: #c0e0ff;
    --bluesky: #3085d6;
    --brownLight: #eecab1;
    --green: #208020;
    --greenLight: #4c9900;
    --greenLightVery: #b3ffb3;
    --grey: #999999;
    --greyDark: #777777;
    --greyDarkVery: #444444;
    --greyLight: #cccccc;
    --greyLightMedium: #dddddd;
    --greyLightVery: #f0f0f0;
    --orange: #ffa500;
    --orangeLight: #ffcc80;
    --pinkLight: #ffb3ff;
    --purpleLight: #cc99ff;
    --red: #ff0000;
    --redDark: #dd0000;
    --redLight: #ffa3a3;
    --transparentBlack: rgba(0, 0, 0, 0);
    --transparentWhite: rgba(255, 255, 255, 0);
    --transparent40: rgba(0, 0, 0, 0.6);
    --transparent50: rgba(0, 0, 0, 0.5);
    --transparent70: rgba(0, 0, 0, 0.3);
    --white: #ffffff;
    --yellow: #ffffa3;
    /*constant widths*/
    --popup_width: 330px;
}

body {
    background: var(--white);
}

p {
    color: var(--black);
}

header {
    background: var(--white);
}

#tb_undo,
#tb_redo {
    color: var(--greyLight);
}

.button {
    background: var(--white);
    color: var(--black);
}

.sw {
    background-color: var(--blueLight);
    color: var(--white);
}

.values {
    color: var(--white);
}

#buttons {
    border: 1px solid var(--black);
}

.label_mode {
    color: var(--black);
}

.label {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.label_option {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.label:hover {
    background: var(--greyLightVery);
}

.label_option:hover {
    background: var(--greyLightVery);
}

.labelL {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.labelL:hover {
    background: var(--greyLightVery);
}

.nav li span {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--blueDark);
}

.nav>li:hover>span {
    /*layer-1*/
    color: var(--black);
    background: var(--greyLight);
}

.nav>li li:hover>span {
    /*layer-2*/
    color: var(--black);
    background: var(--greyLight);
}

.nav li ul li span {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--blueDark);
}

.nav li ul li ul:before {
    border-left: 5px solid var(--black);
}

.nav>li.symbolmode_display:hover>span {
    /*layer-1*/
    color: var(--black);
    background: none;
}

#puzzleinfo,
#contestinfo {
    background: var(--white);
    color: var(--blue);
}

#dvique {
    background: var(--white);
    border: 1px solid var(--blackLight);
}

#pause_canvas {
    background: var(--white);
    border: 0px none black;
}

#canvas {
    background: var(--white);
}

#float-key {
    background-color: var(--white);
}

#float-key-header {
    background: var(--grey);
}

#float-key-body {
    box-shadow: 4px 4px 4px var(--transparent40);
    background: var(--greyLightMedium);
}

#float-key-menu {
    background: var(--greyLight);
}

.panel_menu li {
    border-right: 1px solid var(--white);
    background-color: var(--greyLight);
}

.panel_menu_select li {
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    background-color: var(--greyLight);
}

.label_menu {
    background-color: var(--greyLight);
}

#modal-content,
#modal-image-content,
#modal-rotate-content,
#modal-newsize-content,
#modal-save-content,
#modal-input-content,
#modal-load-content,
#modal-save-tag-content,
#modal-settings-content {
    background-color: var(--white);
}

#modal-save2-content {
    background-color: var(--white);
}

#modal-header {
    background: var(--greyLight);
}

#save2texttitle {
    background: var(--greyLight);
}

#save3texttitle,
#nb_note {
    color: var(--black);
}

.solutiontext {
    color: var(--black);
}

.tooltip .tooltiptext {
    background-color: var(--greyDarkVery);
    color: var(--white);
}

.tooltip .tooltiptext::after {
    border-color: var(--greyDarkVery) transparent transparent transparent;
}

/*Modal display labels*/
#rt1_lb,
#rt2_lb,
#rt3_lb,
#rt4_lb,
#nb_margin_lb,
#nb_quality_lb,
#nb_type_lb,
#saveimagename_lb,
#save_undo_lb,
#firstcell_row_lb,
#firstcell_column_lb,
#sudokusize_lb,
#ignore_pencilmarks_lb,
#theme_mode_lb,
#custom_color_lb,
#save_settings_lb,
#sudoku_settings_lb,
#sudoku_settings_normal_lb,
#starbattle_settings_lb,
#mousemiddle_settings_lb,
#multitab_settings_lb,
#secondcolor_settings_lb,
#edge_button0,
#panel_button0,
#reload_button0,
#advance_button0 {
    color: var(--black);
}

#modal-help-content {
    background-color: var(--white);
}