/* Light Mode */
/* Defaults */
:root {
    /* Colors: should be the same as in style.js */
    --black: #000000;
    --blackLight: #232323;
    --blue: #0000ff;
    --blueDark: #1e50a2;
    --blueLight: #187bcd;
    --blueLightMedium: #4795d4;
    --blueLightVery: #c0e0ff;
    --bluesky: #3085d6;
    --brownLight: #eecab1;
    --green: #208020;
    --greenLight: #4c9900;
    --greenLightVery: #b3ffb3;
    --grey: #999999;
    --greyDark: #777777;
    --greyDarkVery: #444444;
    --greyLight: #cccccc;
    --greyLightMedium: #dddddd;
    --greyLightVery: #f0f0f0;
    --orange: #ffa500;
    --orangeLight: #ffcc80;
    --pinkLight: #ffb3ff;
    --purpleLight: #cc99ff;
    --red: #ff0000;
    --redDark: #dd0000;
    --redLight: #ffa3a3;
    --transparentBlack: rgba(0, 0, 0, 0);
    --transparentWhite: rgba(255, 255, 255, 0);
    --transparent40: rgba(0, 0, 0, 0.6);
    --transparent50: rgba(0, 0, 0, 0.5);
    --transparent70: rgba(0, 0, 0, 0.3);
    --white: #ffffff;
    --yellow: #ffffa3;

    --bgPage: var(--greyLightVery);
    --bgMain: var(--white);
    --bgMedium: var(--greyLightMedium);
    --fgMain: var(--black);
}

.solving {
    background: var(--blueLightVery);
}

#tb_undo,
#tb_redo {
    color: var(--black);
}
#tb_undo:disabled,
#tb_redo:disabled {
    color: var(--greyLight);
}

#modal-help-body a.button {
    background: var(--greyLightVery);
    border: 1px solid var(--greyLight);
    color: var(--black) !important;
}

#modal-help-body a.button:hover {
    background: var(--greyLight);
}

#tab-dropdown-lite-btn,
.button.sw {
    background-color: var(--blueLight);
    color: var(--white);
}

#tab-dropdown-lite-btn:hover,
.button.sw:hover {
    background-color: var(--blueDark);
    color: var(--white);
}

.label_mode {
    color: var(--black);
}

.label {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.labelSu {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.label_option {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.label:hover {
    background: var(--greyLightVery);
}

.label_option:hover {
    background: var(--greyLightVery);
}

.labelL {
    color: var(--black);
    border: 1px solid var(--blueDark);
}

.labelL:hover {
    background: var(--greyLightVery);
}

.nav li span {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--blueDark);
}

.nav>li:hover>span {
    /*layer-1*/
    color: var(--black);
    background: var(--greyLight);
}

.nav>li li:hover>span {
    /*layer-2*/
    color: var(--black);
    background: var(--greyLight);
}

.nav li ul li span {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--blueDark);
}

.nav li ul li ul:before {
    border-left: 5px solid var(--black);
}

.nav>li.symbolmode_display:hover>span {
    /*layer-1*/
    color: var(--black);
    background: none;
}

#puzzleinfo,
#contestinfo {
    color: var(--blue);
}

#dvique {
    background: var(--white);
    border: 1px solid var(--blackLight);
}

#pause_canvas {
    background: var(--white);
    border: 0px none black;
}

#canvas {
    background: var(--white);
}

#float-key {
    background-color: var(--white);
}

.modal-content,
#modal-image-content,
#modal-save-content,
#modal-input-content,
#modal-load-content,
#modal-save-tag-content,
#modal-save2-content {
    background-color: var(--white);
}

header,
#float-key-header,
#float-key-body,
#float-key-menu,
#float-key-select,
.modal-header,
.modal-subheader {
    background: var(--greyLight);
}

#save3texttitle,
#nb_note {
    color: var(--black);
}

.tooltip .tooltiptext {
    background-color: var(--greyDarkVery);
    color: var(--white);
}

.tooltip .tooltiptext::after {
    border-color: var(--greyDarkVery) transparent transparent transparent;
}

#visibility_button {
    border: 1px solid var(--blueDark);
}